.home-container {
  max-width: 800px;
  min-width: 200px;
  display: flex;
  flex-direction: column;

  padding-top: 39px;
  padding-bottom: 100px;
}

.logo-mg-container {
  width: 100%;

  padding: 16px;
}

.logo-img {
  width: 64px;
  float: left;
  margin: 16px;
}

.text-container {
  text-align: center;

  margin-top: 44px;
}

.title {
  font-size: 32px;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.description {
  font-family: "Apple SD Gothic Neo";
  font-size: 16px;
  padding: 0;
  margin: 16px;
  font-weight: 600;
}

button {
  width: 177px;
  height: 56px;

  margin: 16px;

  border: none;
  border-radius: 28px;

  font-size: 24px;
  font-weight: bold;

  background-color: black;
  color: white;

  cursor: pointer;
}

button:hover {
  background-color: #333;
}
.landing-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  box-sizing: border-box;
}

.landing-img {
  max-width: 500px;
  width: calc(100% - 32px);
  margin: 24px 0;
}

.landing-img-full {
  max-width: 532px;
  width: 100%;
  margin: 24px 0;
}
